{{ "banner.css" | asset_url | stylesheet_tag }}

<section class="banner">
  <p>banner</p>
</section>

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
      {
        "type": "image_picker",
        "label": "Logo",
        "id": "logo"
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}