{{ "grid.css" | asset_url | stylesheet_tag }}

<section class="grid">
  <p>grid</p>
</section>

{% schema %}
  {
    "name": "Grid Section",
    "settings": [],
    "presets": [
      {
        "name": "Grid Section"
      }
    ]
  }
{% endschema %}