{% layout none %}

<!DOCTYPE html>
<html lang="{{shop.locale}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {{ content_for_header }}
  </head>
  <style>
    @font-face {
      font-family: 'JostRegular';
      src: url('https://cdn.shopify.com/s/files/1/0643/1313/1096/files/Jost-Regular.ttf?v=1741106365');
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: 'JostRegular'
      , Arial
      , Helvetica
      , sans-serif;
    }
  </style>
  <body>
    {{ content_for_layout }}
    {% section 'banner' %}
    {% section 'grid' %}
  </body>
</html>